.CartPage-items {
  margin: 0;
  padding: 0;
}
.CartPage-items li {
  list-style: none;
}
.CartItem-controls {
  display: flex;
  align-items: center;
}
.CartItem-counter {
  padding: 5px 10px;
  border: 1px solid #ccc;
}
.CartItem-addOne,
.CartItem-removeOne {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background: #fff;
}
.CartItem-addOne {
  border-left: none;
  cursor: pointer;
}
.CartItem-removeOne {
  border-right: none;
  cursor: pointer;
}
.CartPage-total {
  margin: 20px 10px;
  font-size: 24px;
  text-align: right;
}
